{% extends 'Base/BaseTemplate.html' %}
{% load FilterTags %}
{% load static %}
{% block Title %}
    گروه برنامه نویسی کدوار
{% endblock %}

{% block Css %}
    <link rel="stylesheet" href="{% static 'Css/Member/Profile-Ws/index.css' %}">
    <link rel="stylesheet" href="/Static/Css/Home/index.css">
{% endblock %}

{% block Content %}
{#    {% include 'Base/Header/Header.html' with Style='Type3' Place='Other' Items='Home' User=User %}#}
    <div class="vertical-center-btn">
        <a href="{% url 'User:Login-Create' %}" class="BtnStyle_custom">ثبت نام پروژه</a>
        <a href="{% url 'MemberGroup:Login-Create' %}" class="BtnStyle_custom">ثبت نام اعضاء</a>
    </div>
{% endblock %}

{% block Js %}
    <script src="{% static 'Js/Member/Profile-Ws/index.js' %}"></script>
    <script src="/Static/Js/Home/index.js"></script>
{% endblock %}