{% load FilterTags %}

{% if TypeInclude == 'Member' %}
    <style>
        body {
            background: #fafafa;
        }

        [ContainerItemMenu='Profile'] {
            width: 95%;
            margin: 20px auto;
            border-radius: 10px;
            background: none !important;
        }

        .ShortInfoProfile {
            background: #f4f4f4;
        }

        .InfoProfile {
            background: #f4f4f4;
        }
    </style>
{% endif %}

<div class="ContainerItemAsideMenu ContainerItemMenuIsActive AnimationTopToBottom" ContainerItemMenu="Profile">
    <div class="ContanierProfile">
        {% if MemberProfile.Image != '' %}
            <img src="{{ MemberProfile.Image.url }}" alt="{{ MemberProfile.GetNameAndFamily }}"
                 class="ImageUserProfile">
        {% else %}
            <img src="/Static/Img/Img-Default/ImageDefaultMember.jpg" alt="{{ MemberProfile.GetNameAndFamily }}"
                 class="ImageUserProfile">
        {% endif %}
        <div class="ShortInfoProfile">
            <p class="NameAndFamilyMember">
                {{ MemberProfile.GetNameAndFamily }}
            </p>
            <p class="TitleJobProfile">
                {{ MemberProfile.TitleJob|NoneVal:'' }}
            </p>
            <div class="TimeJoinToTeamProfile">
                <p>زمان عضویت :</p>
                <div class="ResultField">
                    {{ MemberProfile.DateTimeJoin.date }}
                    <b>({{ MemberProfile.GetTimeJoined }})</b>
                </div>
            </div>
            <div class="LikeMemberProfile" dir="ltr">
                {% if OnlyUserIsLogin %}
                    <div class="LikeMember"
                         Liked="{{ MemberProfile.GetListIDUsersLiked|ValInList:User.id }}">
                        <i class="{% if MemberProfile.GetListIDUsersLiked|ValInList:User.id == 'true' %}fa{% else %}far{% endif %} fa-heart BtnLikeMember"
                           {% if UserIsLogin %}BtnLikeMember{% endif %}
                           IDMember="{{ MemberProfile.id }}" BtnLikeMember></i>
                        <p class="SplitNumber NumberLikeMember"
                           Number="{{ MemberProfile.GetLenLikeMember }}"
                           NumberLikeMember>{{ MemberProfile.GetLenLikeMember }}</p>
                    </div>
                {% else %}
                    <div class="LikeMember"
                         Liked="false">
                        <i class="far fa-heart BtnLikeMember CursorDefault"
                           IDMember="{{ MemberProfile.id }}"></i>
                        <p class="SplitNumber NumberLikeMember"
                           Number="{{ MemberProfile.GetLenLikeMember }}"
                           NumberLikeMember>{{ MemberProfile.GetLenLikeMember }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="InfoProfile">
            <p class="LabelTitle">
                درباره من
            </p>
            <p class="ResultField AboutMeProfile">
                {{ MemberProfile.AboutMe|NoneVal:'من عضو مجموعه کدوار هستم' }}
            </p>
            <hr>
            <div class="ContainerPropryProfile ContainerItemInfoProfile">
                <p class="LabelTitle">
                    خصوصیات :
                </p>
                <div class="ItemPropryProfile">
                    <div>
                        <img src="/Static/Img/Img-Design/Img-Blobs/Blob_3.jpg" alt="Blob">
                        <i class="far fa-file-certificate"></i>
                    </div>
                    <p>
                        <b>{{ MemberProfile.GetLenWorkSamples }}</b>
                        نمونه کار
                    </p>
                </div>
                <div class="ItemPropryProfile">
                    <div>
                        <img src="/Static/Img/Img-Design/Img-Blobs/Blob_3.jpg" alt="Blob">
                        <i class="far fa-medal"></i>
                    </div>
                    <p>
                        عضوه
                        <b>{{ MemberProfile.GetLevelStatus }}</b>
                    </p>
                </div>
                <div class="ItemPropryProfile">
                    <div>
                        <img src="/Static/Img/Img-Design/Img-Blobs/Blob_3.jpg" alt="Blob">
                        <i class="far fa-wrench"></i>
                    </div>
                    <p>
                        <b>{{ MemberProfile.GetLenSkills }}</b>
                        مهارت
                    </p>
                </div>
            </div>
            <p class="LabelTitle">
                نمونه کار ها :
            </p>
            <div class="ContainerWorkSamplesProfile ContainerItemInfoProfile">
                <div class="Samples">
                    {% for Sample in MemberProfile.GetWorkSamples %}
                        <div class="Sample" ID_Sample="{{ Sample.id }}">
                            <div class="LikeWorkSample">
                                {% if ViewBy != 'Member' %}
                                    {% if User is not None %}
                                        <i class="{% if Sample.ListIDUserLiked|ValInList:User.id == 'true' %}fa{% else %}far{% endif %} fa-heart BtnLikeWorkSample"
                                           onclick="LikeDisLikeWorkSample(this,'{{ Sample.id }}')"
                                           Liked="{{ Sample.ListIDUserLiked|ValInList:User.id }}"></i>
                                    {% else %}
                                        <a href="/U/Login-Create" class="CursorDefault">
                                            <i class="far fa-heart BtnLikeWorkSample"></i>
                                        </a>
                                    {% endif %}
                                    <p class="SplitNumber" NumberLike
                                       Number="{{ Sample.GetLenLikes }}"></p>
                                {% else %}
                                    <i class="far fa-heart BtnLikeWorkSample CursorDefault"></i>
                                    <p class="SplitNumber" NumberLike
                                       Number="{{ Sample.GetLenLikes }}"></p>
                                {% endif %}
                            </div>
                            {% if ViewBy == 'Member' %}
                                <div class="ItemsHeader">
                                    <i class="far fa-trash" onclick="RemoveSample(this.parentNode.parentNode)"></i>
                                    <i class="far fa-pen" onclick="EditSample(this.parentNode.parentNode)"></i>
                                </div>
                            {% endif %}
                            <div class="ContentSample">
                                <img src="{{ Sample.Image.url }}" alt="{{ Sample.Title }}"
                                     title="{{ Sample.Title }}">
                                {#                                <p class="LabelTitle">موضوع</p>#}
                                <p class="TitleSample">{{ Sample.Title|truncatechars:25 }}</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center px-2">
                                <button class="BtnStyle_1_OutLine"
                                        onclick="GetWorkSample(this.parentNode.parentNode)">
                                    مشاهده جزئیات
                                </button>
                                <div class="TimePastSample">
                                    <i class="far fa-clock"></i>
                                    <p class="m-0 d-inline-block">{{ Sample.GetTimePastCreate }}</p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p class="ResultField">تاکنون نمونه کاری ثبت نکرده ام</p>
                    {% endfor %}
                </div>
            </div>
            <p class="LabelTitle">
                مجموع مهارت های من :
            </p>
            <div class="ContainerSkillsProfile ContainerItemInfoProfile">
                {% if MemberProfile.GetSkills|ListIsNone == False %}
                    <div id="ContainerChartSkillsProfile"></div>
                {% else %}
                    <p class="ResultField">تاکنون مهارتی ثبت نکرده ام</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
