{% load FilterTags %}

{% if TypeInclude == 'Member' %}
    <style>
        body {
            background: #fafafa;
        }

        [ContainerItemMenu='Profile'] {
            width: 90%;
            margin: 20px auto;
            border-radius: 10px;
            background: none !important;
        }

        .Skill {
            height: 280px;
        }

        @media screen and (max-width: 1001px) {

            .HeaderProfile {
                flex-direction: column;
            }

            .ShortInfoProfile {
                width: 100%;
                height: auto;
                margin: 7px;
            }

            .HeaderProfile img {
                margin: 7px;
                width: 70%;
                order: -1;
            }

            .AboutMeProfile {
                height: auto;
                width: 97%;
            }
        }

        @media screen and (max-width: 700px) {


            [ContainerItemMenu='Profile'] {
                width: 100%;
                padding: 0 !important;
            }

            .ShortInfoProfile {
                height: auto;
            }

            .AboutMeProfile {
                height: auto;
                width: 97%;
            }

            .HeaderProfile img {
                margin: 7px;
                width: 100%;
                order: -1;
            }

            .HeaderShortInfoProfile {
                flex-direction: column;
                text-align: right;
                margin-bottom: 25px;
            }

            .ContainerItemsLeftHeaderInfo {
                order: -1;
                width: 100%;
                text-align: left;
            }

            .ContainerItemsLeftHeaderInfo > div {
                display: inline-block;
                margin: 5px;
            }

            .HeaderShortInfoProfile > div {
                width: 100%;
            }

            .TitleJobProfile {
                margin-top: -15px;
            }

            .NameAndFamilyMember {
                width: 100%;
                margin-top: 15px;
                margin-bottom: 10px;
            }
        }

        @media screen and (max-width: 400px) {
            .Skills {
                text-align: center;
                width: 100%;
                padding: 0;
            }

            .Skill {
                margin: 7px auto;
                width: 100%;
            }

            .Skill canvas {
                width: 100% !important;
            }
        }

    </style>
{% endif %}


<div class="ContainerItemAsideMenu ContainerItemMenuIsActive AnimationTopToBottom" ContainerItemMenu="Profile">
    <div class="ContanierProfile">
        <div class="HeaderProfile">
            <div class="ShortInfoProfile">
                <div class="HeaderShortInfoProfile">
                    <div>
                        <p class="NameAndFamilyMember">
                            {{ MemberProfile.GetNameAndFamily }}
                        </p>
                        <p class="TitleJobProfile">
                            {{ MemberProfile.TitleJob|NoneVal:'' }}
                        </p>
                    </div>
                    <div class="ContainerItemsLeftHeaderInfo">
                        <div class="LikeMemberProfile" dir="ltr">
                            {% if OnlyUserIsLogin %}
                                <div class="LikeMember"
                                     Liked="{{ MemberProfile.GetListIDUsersLiked|ValInList:User.id }}">
                                    <i class="{% if MemberProfile.GetListIDUsersLiked|ValInList:User.id == 'true' %}fa{% else %}far{% endif %} fa-heart BtnLikeMember"
                                       {% if UserIsLogin %}BtnLikeMember{% endif %}
                                       IDMember="{{ MemberProfile.id }}" BtnLikeMember></i>
                                    <p class="SplitNumber NumberLikeMember"
                                       Number="{{ MemberProfile.GetLenLikeMember }}"
                                       NumberLikeMember>{{ MemberProfile.GetLenLikeMember }}</p>
                                </div>
                            {% else %}
                                <div class="LikeMember"
                                     Liked="false">
                                    <i class="far fa-heart BtnLikeMember CursorDefault"
                                       IDMember="{{ MemberProfile.id }}"></i>
                                    <p class="SplitNumber NumberLikeMember"
                                       Number="{{ MemberProfile.GetLenLikeMember }}"
                                       NumberLikeMember>{{ MemberProfile.GetLenLikeMember }}</p>
                                </div>
                            {% endif %}
                        </div>
                        {% if MemberProfile.Github %}
                            <div>
                                <a href="{{ MemberProfile.Github }}" class="IconGithub" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                        {% endif %}
                        <div class="TimeJoinToTeamProfile">
                            <i class="fal fa-clock IconShowTimeJoinTeam"
                               title="زمان عضویت : {{ MemberProfile.GetTimeJoined }}" data-toggle="tooltip"></i>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="LabelTitle">
                        درباره من
                    </p>
                    <p class="ResultField AboutMeProfile">
                        {{ MemberProfile.AboutMe|NoneVal:'من عضو مجموعه کدوار هستم' }}
                    </p>
                </div>
            </div>
            {% if MemberProfile.Image != '' %}
                <img src="{{ MemberProfile.Image.url }}" alt="{{ MemberProfile.GetNameAndFamily }}"
                     class="ImageUserProfile">
            {% else %}
                <img src="/Static/Img/Img-Default/ImageDefaultMember.jpg" alt="{{ MemberProfile.GetNameAndFamily }}"
                     class="ImageUserProfile">
            {% endif %}
        </div>
        <div class="InfoProfile">
            <div class="ContainerPropryProfile ContainerItemInfoProfile">
                <div class="ItemPropryProfile">
                    <div>
                        <img src="/Static/Img/Img-Design/Img-Blobs/Blob_3.jpg" alt="Blob">
                        <i class="far fa-file-certificate"></i>
                    </div>
                    <p>
                        <b>{{ MemberProfile.GetLenWorkSamples }}</b>
                        نمونه کار
                    </p>
                </div>
                <div class="ItemPropryProfile">
                    <div>
                        <img src="/Static/Img/Img-Design/Img-Blobs/Blob_3.jpg" alt="Blob">
                        <i class="far fa-medal"></i>
                    </div>
                    <p>
                        عضوه
                        <b>{{ MemberProfile.GetLevelStatus }}</b>
                    </p>
                </div>
                <div class="ItemPropryProfile">
                    <div>
                        <img src="/Static/Img/Img-Design/Img-Blobs/Blob_3.jpg" alt="Blob">
                        <i class="far fa-wrench"></i>
                    </div>
                    <p>
                        <b>{{ MemberProfile.GetLenSkills }}</b>
                        مهارت
                    </p>
                </div>
            </div>
            <div class="ContainerTitleProfile">
                <p>
                    نمونه کار ها
                </p>
            </div>
            <div class="ContainerWorkSamplesProfile ContainerItemInfoProfile">
                <div class="Samples">
                    {% for Sample in MemberProfile.GetWorkSamples %}
                        <div class="Sample" ID_Sample="{{ Sample.id }}">
                            <div class="LikeWorkSample">
                                {% if ViewBy != 'Member' %}
                                    {% if User is not None %}
                                        <i class="{% if Sample.ListIDUserLiked|ValInList:User.id == 'true' %}fa{% else %}far{% endif %} fa-heart BtnLikeWorkSample"
                                           onclick="LikeDisLikeWorkSample(this,'{{ Sample.id }}')"
                                           Liked="{{ Sample.ListIDUserLiked|ValInList:User.id }}"></i>
                                    {% else %}
                                        <a href="/U/Login-Create" class="CursorDefault">
                                            <i class="far fa-heart BtnLikeWorkSample"></i>
                                        </a>
                                    {% endif %}
                                    <p class="SplitNumber" NumberLike
                                       Number="{{ Sample.GetLenLikes }}"></p>
                                {% else %}
                                    <i class="far fa-heart BtnLikeWorkSample CursorDefault"></i>
                                    <p class="SplitNumber" NumberLike
                                       Number="{{ Sample.GetLenLikes }}"></p>
                                {% endif %}
                            </div>
                            {% if ViewBy == 'Member' %}
                                <div class="ItemsHeader">
                                    <i class="far fa-trash" onclick="RemoveSample(this.parentNode.parentNode)"></i>
                                    <i class="far fa-pen" onclick="EditSample(this.parentNode.parentNode)"></i>
                                </div>
                            {% endif %}
                            <div class="ContentSample">
                                <img src="{{ Sample.Image.url }}" alt="{{ Sample.Title }}"
                                     title="{{ Sample.Title }}">
                                {#                                <p class="LabelTitle">موضوع</p>#}
                                <p class="TitleSample">{{ Sample.Title|truncatechars:25 }}</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center px-2">
                                <button class="BtnStyle_1_OutLine"
                                        onclick="GetWorkSample(this.parentNode.parentNode)">
                                    مشاهده جزئیات
                                </button>
                                <div class="TimePastSample">
                                    <i class="far fa-clock"></i>
                                    <p class="m-0 d-inline-block">{{ Sample.GetTimePastCreate }}</p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p class="ResultField">تاکنون نمونه کاری ثبت نکرده ام</p>
                    {% endfor %}
                </div>
            </div>
            <div class="ContainerTitleProfile">
                <p>
                    مهارت ها
                </p>
            </div>
            <div class="Skills" id="ContainerSkillsProfile">
                {% for Skill in MemberProfile.GetSkills %}
                    <div class="Skill" Skill>
                        <div class="TitleSkill">
                            <p TitleSkill>{{ Skill.Title }}</p>
                        </div>
                        <div class="ContainerChartSkill">
                            <canvas ChartSkill TitleSkill="{{ Skill.Title }}"
                                    ValuePercent="{{ Skill.ValueSkill }}"></canvas>
                            <p class="PercentageValueSkill">{{ Skill.ValueSkill }}%</p>
                        </div>
                        <div class="ContainerDescriptionSkill">
                            <p>{{ Skill.Description|NoneVal:'توضیحی وجود ندارد' }}</p>
                        </div>
                        {% if ViewBy == 'Member' %}
                            <div class="ContainerEditDeleteSkill">
                                <button class="BtnRemoveSkill"
                                        onclick="RemoveSkill({{ Skill.id }},this.parentNode.parentNode)">
                                    <p>حذف</p>
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                {% empty %}
                    <div class="ContainerNotFoundContent">
                        <div>
                            مهارتی یافت نشد
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
