{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=no">
    <meta name="theme-color" content="#ffffff"/>
    <link rel="icon" href="/Static/Img/Img-Logo/IconLogo.jpg">
    <link rel="stylesheet" href="{% static 'BootStrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'BootStrap/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'Css/Base/Base/Index.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Base/Footer/index.css' %}">
    <link rel="stylesheet" href="/Static/Css/Base/Header/index.css">
    <link rel="stylesheet" href="{% static 'BootStrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'BootStrap/css/bootstrap.min.css' %}">
    <script src="{% static 'BootStrap/js/src/jquery.slim.min.js' %}"></script>
    <script src="{% static 'jq/jq.js' %}"></script>
    <script src="{% static 'BootStrap/popper.min.js' %}"></script>
    <script src="{% static 'BootStrap/js/src/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'FontAwesome/css/all.css' %}">
    <title>
        {% block Title %}
        {% endblock %}
    </title>
    {% block Css %}
    {% endblock %}

</head>
<body>
{% block Content %}
{% endblock %}
<script src="{% static 'Js/Base/Index.js' %}"></script>
<script src="{% static 'Js/Base/Chart/anychart-core.min.js' %}"></script>
<script src="{% static 'Js/Base/Chart/anychart-pie.min.js' %}"></script>
{% block Js %}
{% endblock %}
<script>
    window.CSRF_TOKEN = '{{ csrf_token }}'
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>


    // Menu Hamburger
    let ContainerMenuHamburger = document.getElementById('ContainerMenuHamburger')
    if (ContainerMenuHamburger != null) {
        SetTouchPadOnElement(ContainerMenuHamburger, 'Width', {'Direction': 'Ltr', 'Min': '0', 'Max': '260px'})
    }

    // Header Fixed
    let HeaderElement = document.getElementsByClassName('ItemsHeader')[0]
    window.addEventListener("scroll", (event) => {
        let Scroll = this.scrollY;
        SetHeaderFix(Scroll)
    });

    SetHeaderFix(window.scrollY)

    function SetHeaderFix(Scroll) {
        try {
            if (Scroll < 10) {
                HeaderElement.classList.remove('HeaderFixed')
            } else {
                HeaderElement.classList.add('HeaderFixed')
            }
        } catch (e) {
        }
    }

</script>
</body>
</html>