{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=no">
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" href="/Static/Img/Img-Logo/IconLogo.jpg">
    <link rel="stylesheet" href="{% static 'BootStrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'BootStrap/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'Css/Base/Base/Index.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Base/Footer/index.css' %}">
    <link rel="stylesheet" href="/Static/Css/Base/Header/index.css">
    <script src="{% static 'BootStrap/js/src/jquery.slim.min.js' %}"></script>
    <script src="{% static 'BootStrap/popper.min.js' %}"></script>
    <script src="{% static 'BootStrap/js/src/bootstrap.min.js' %}"></script>
    <script src="{% static 'BootStrap/anime.min.js' %}"></script>
    <script src="{% static 'BootStrap/bootstrap-slider.min.js' %}"></script>
    <script src="{% static 'jq/jq.js' %}"></script>
    <link rel="stylesheet" href="{% static 'FontAwesome/css/all.css' %}">
    <title>
        {% block Title %}
        {% endblock %}
    </title>
    {% block Css %}
    {% endblock %}
</head>
<body>
{% block Content %}
{% endblock %}
<script src="{% static 'Js/Base/Index.js' %}"></script>
<script src="{% static 'Js/Base/Chart/anychart-core.min.js' %}"></script>
<script src="{% static 'Js/Base/Chart/anychart-pie.min.js' %}"></script>
{% block Js %}
{% endblock %}
<script>
    // Menu Hamburger
    let ContainerMenuHamburger = document.getElementById('ContainerMenuHamburger')
    if (ContainerMenuHamburger != null) {
        SetTouchPadOnElement(ContainerMenuHamburger, 'Width', {'Direction': 'Ltr', 'Min': '0', 'Max': '260px'})
    }
</script>
</body>
</html>