.ContainerMembers {
    margin: auto;
    margin-top: 50px;
    min-height: 75vh;
    background: #fafafa;
    width: 99%;
    border-radius: 11px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.ContainerMembers:after{
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    left: -125px;
    top: 50px;
    background: rgb(200, 255, 236);
    border-radius: 50%;
    z-index: -1;
}
.ContainerMembers:before{
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    right: -125px;
    bottom: 50px;
    background: rgb(255, 209, 207);
    border-radius: 50%;
    z-index: -1;
}

.ContainerTitle {
    padding: 15px;
    text-align: center;
}

.ContainerTitle p {
    margin: 0;
    margin: 5px;
    font-size: 290%;
    display: inline-block;
    color: #555555;
}

.ContainerTitle i {
    font-size: 160%;
    color: #4e9fff;
    margin: 5px;
}

.ContainerMembers {
    width: 100%;
    background: none;
    margin: 0 auto;
}


.Members {
    margin: auto;
    margin-top: 30px;
    padding: 0;
    text-align: center;
    width: 1200px;
}


.ContentMembers {
    display: inline-block;
    /* background: linear-gradient(to right, rgb(145, 61, 183), #b551a0, #f755a3, #ff96c7);*/
    width: 60%;
    margin: 25px;
    padding: 5px;
    text-align: left;
}

.Member {
    margin: 8px;
    display: inline-block;
    background: #f4f4f4;
    width: 310px;
    height: 325px;
    border-radius: 15px;
    border: 1px solid #d5d5d5;
    position: relative;
    overflow: hidden;
    transition: all .2s;
}

.Member:hover {
    border: 1px solid #bfbfbf;
}


.ContentMember {
    text-align: right;
    background: #effaf4;
    border-radius: inherit;
    height: 100%;
}


.ImageMember {
    width: 100% !important;
    height: 200px;
    display: block;
    background: white;
    border-radius: 15px 15px 0 0;
    transition: transform .2s !important;
}

.LikeMember {
    display: inline-block;
    float: left;
    direction: ltr;
    margin: 5px;
}

.BtnLikeMember {
    font-size: 160%;
    cursor: pointer;
    color: #f45952;
    transition: all .1s;
}

.BtnLikeMember:hover {
    transform: scale(1.1);
}

.NameAndTitleJobMember {
    display: inline-block;
    padding: 5px;
    text-align: right;
    transform: translateY(-15px);
}

.NameMember {
    margin: 0;
    color: #666666;
    background: #ffffff;
    border: 1px solid rgba(200, 200, 200, 0.8);
    padding: 1px 4px;
    border-radius: 5px;
    /*font-weight: bold;*/
}

.TitleJobMember {
    margin: 0;
    margin-top: 1px;
    margin-right: 7px;
    font-size: 80%;
    color: #656565;
    font-family: Terafik;
}

.ShowProfileMember {
    position: absolute;
    bottom: 14px;
    left: 10px;
}


[BtnLikeMember] {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .Members{
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .Member {
        margin: 10px auto;
        width: 88%;
    }
}