.ContentMain {
    text-align: center;
}

.SectionMain {
    width: 95%;
    margin: 10px auto;
    overflow: hidden;
    perspective: 1000px;
    border-radius: 10px;
}

.SectionHeader {
    position: relative;
    top: 0;
    margin: 0;
    width: 100%;
    background: #ffffff;
    margin-top: 100px;
    margin-bottom: 40px;
    box-shadow: 0 0 40px rgba(195, 247, 255, 0.3);
}

.BackgroundHeader {
    width: 60%;
    display: block;
    opacity: .9;
    float: left;
    margin: 10px !important;
}


.ContentAboutUs {
    text-align: right;
    padding: 40px;
    margin-top: 60px;
}

.TitleGroup {
    font-family: "KalameBlack";
    text-align: center;
    display: block;
    margin: auto !important;
    color: var(--ColorBase);
    font-size: 400%;
}

.TitleGroup span {
    display: inline-block;
    font-size: 85%;
    margin: 0;
    font-weight: bold;
    color: #676767;
    margin-right: 10px;
    font-family: 'Koodak';
    vertical-align: top;
}

.TitleGroup p {
    margin: 0 -12px;
}

.TextAboutUs {
    margin: 15px;
    margin-top: 50px;
    text-align: justify;
    line-height: 35px;
    color: #656565;
    font-size: 110%;
}

.SectionMain[AnimationScroll] {
    transform: translateY(15px);
    opacity: 0;
}


.SectionMain[dir='ltr'] {
    text-align: left;
}

.SectionMain[dir='rtl'] {
    text-align: right;
}


.SectionMain img {
    width: 60%;
    display: inline-block;
    margin: 0;
    transform: rotate(0);
    transition: all 2s;
}


.SectionMain * {
    vertical-align: middle;
}

.SectionMain[SectionMainSubmitProject] {
    margin-top: 30px;
    margin-bottom: 10px;
    background: #fdfffb;
    border-radius: 30vmin;
    box-shadow: 0 5px 30px rgba(217, 255, 238, 0.3);
    position: relative;
}


.SectionMain .ContentSection {
    display: inline-block;
    width: 35%;
    margin: 0;
    padding: 20px;
    padding-bottom: 10px;
    background: none;
    text-align: center;
}

.SectionMain .ContentSection h2 {
    text-align: center;
    transform: translateY(-15px);
    color: #5a6c9f;
    font-weight: bold;
    font-size: 350%;
    font-family: 'MjCasablancaHeavy';
}

.SectionMain .ContentSection p {
    margin: 4px;
    font-size: 110%;
    line-height: 35px;
    margin-bottom: 15px;
    text-align: justify;
    direction: rtl;
    color: #656565;
}

.BtnStyle_7 {
    border: none;
    outline: none;
    background: #ff4f59;
    color: white;
    /*box-shadow: 0 5px 12px #ff687f;*/
    font-size: 95%;
    font-weight: bold;
    padding: 11px 55px;
    border-radius: 10px;
    transition: all .2s;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

.BtnStyle_7:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.BtnStyle_7:active {
    transform: scale(.98) !important;
}

.ContainerWorkSamples {
    display: inline-block;
    direction: ltr;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background: linear-gradient(-100deg, #fffc9b, #ffc761, #ff8562);*/
}

.ImageBackgroundLastProjects {
    width: 40% !important;
}

#SliderWorkSamples {
    display: inline-block;
    width: 62%;
}

.ContainerTitle {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 15px;

}

/*.ContainerTitle div {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    padding: 9px 30px;*/
/*    border-bottom: 2px solid rgba(51, 222, 146, 0.8);*/
/*}*/

.ContainerTitle p {
    display: inline-block;
    margin: 0;
    font-size: 260% !important;
    font-family: "KalameBlack";
    color: #555555;
    border-bottom: 4px solid var(--ColorBase);
}

.ContainerTitle i {
    float: left;
    font-size: 210%;
    padding-left: 10px;
    color: #ff9999;
}

.ItemsService {
    margin-top: 40px;
    margin-bottom: -80px;
    background: none;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

[ItemsService-1]:after {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    right: -125px;
    bottom: 5px;
    display: block;
    z-index: -1;
    background: rgb(193, 255, 234);
    border-radius: 50%;
}


[ItemsService-2]:after {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    left: -125px;
    bottom: 5px;
    display: block;
    z-index: -1;
    background: rgba(255, 174, 161, 0.3);
    border-radius: 50%;
}


.ItemService {
    position: relative;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 30px rgba(205, 238, 223, 0.3);
    border: 1px solid rgba(0, 238, 182, 0.01);
    width: 230px;
    height: 230px;
    margin: 30px;
    padding: 5px;
    border-radius: 15px;
    overflow: hidden;
}

.ItemService img {
    position: absolute;
    width: 65%;
    top: 15%;
    left: 19%;
    opacity: .2;
    transform: rotate(300deg);
}

.ItemService div {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 1;
}

.ItemService i {
    font-size: 650%;
    margin-top: 20%;
    margin-bottom: 15px;
    color: #444444;
}

.ItemService p {
    margin: 0;
    font-size: 150%;
    color: #777777;
    font-family: 'MjCasablancaHeavy';
}

.ItemService:hover i {
    font-weight: bold;
    color: var(--ColorBase);
}


.WorkSample {
    text-align: left;
    overflow: hidden;
    display: inline-block;
    width: 380px;
    height: 350px;
    margin: 10px;
    perspective: 1000px;
    direction: ltr;
    border-radius: 20px;
    position: relative;
    /*border: 1px solid rgba(0, 255, 140, 0.05);*/
    box-shadow: 0 0 25px rgba(74, 255, 163, 0.1);
    background: #ffffff;
}

.WorkSample img {
    width: 100%;
    height: 240px;
    border-radius: 20px 20px 0 0;
    display: inline-block;
    vertical-align: middle;
}

.ContentWorkSample {
    margin-bottom: -5px;
}


.ContentWorkSample p {
    margin: 0;
}


.TitleWorkSample {
    text-align: right;
    direction: rtl;
    font-size: 105%;
    font-weight: bold;
    color: #565656;
    padding: 5px;
}

.ItemLikeTimeWorkSample {
    text-align: left;
    float: left;
    display: inline-block;
}

.TimePastWorkSample {
    font-size: 80%;
    background: white;
    padding: 2px 6px;
    border-radius: 15px;
    color: #888888;

}

.TimePastWorkSample p {
    direction: rtl;
    display: inline-block;
    margin: 0;
    font-size: 85%;
}

.TimePastWorkSample i {
    font-size: 110%;
    animation: AnimationRotateClock 9s infinite;
}

.LikeWorkSample {
    text-align: center;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 70px;
    background: #ffffff;
    border: 1px solid rgba(145, 145, 145, 0.25);
    padding: 8px 4px;
    border-radius: 18px 6px 6px 6px;
    z-index: 1;
}

.LikeWorkSample p {
    font-size: 80%;
    padding-top: 5px;
    color: #888888;
    display: inline-block;
}

.BtnLikeWorkSample {
    font-size: 160%;
    color: #ff4e5e;
    cursor: pointer;
}

.ItemFieldWorkSample {
    text-align: right;
    direction: rtl;
    margin: 8px;

}

.TitleField {
    margin: 0;
    display: inline-block;
    color: #999999;
    width: 85px;
    font-size: 85%;
}

.ResultField {
    margin: 0;
    display: inline-block;
    color: #444444;
    font-size: 90%;
}

.DescriptionWorkSample {
    padding: 5px;
    line-height: 30px;
    max-height: 70px;
    margin-top: 20px;
    overflow: hidden;
}

.ShowWorkSample {
    text-align: left;
}


.ContainerMembers {
    width: 100%;
    background: none;
    margin: 0 auto;
}


.Members {
    padding: 0;
    text-align: right;
}

.Members > img {
    width: 30%;
    border-top-right-radius: 10px;
    vertical-align: top;
}

.ContentMembers {
    display: inline-block;
    /* background: linear-gradient(to right, rgb(145, 61, 183), #b551a0, #f755a3, #ff96c7);*/
    width: 60%;
    margin: 25px;
    padding: 5px;
    text-align: left;
}

.Member {
    margin: 8px;
    display: inline-block;
    background: #f4f4f4;
    width: 300px;
    height: 315px;
    border-radius: 15px;
    border: 1px solid #d5d5d5;
    position: relative;
    overflow: hidden;
    transition: all .2s;
}

.Member:hover {
    border: 1px solid #bfbfbf;
}


.ContentMember {
    text-align: right;
    background: #e9fff4;
    border-radius: inherit;
    height: 100%;
}


.ImageMember {
    width: 100% !important;
    height: 200px;
    display: block;
    background: white;
    border-radius: 15px 15px 0 0;
    transition: transform .2s !important;
}

.LikeMember {
    display: inline-block;
    float: left;
    direction: ltr;
    margin: 5px;
}

.BtnLikeMember {
    font-size: 160%;
    cursor: pointer;
    color: #f45952;
    transition: all .1s;
}

.BtnLikeMember:hover {
    transform: scale(1.1);
}

.NameAndTitleJobMember {
    display: inline-block;
    padding: 5px;
    text-align: right;
    transform: translateY(-15px);
}

.NameMember {
    margin: 0;
    color: #666666;
    background: #ffffff;
    border: 1px solid rgba(200, 200, 200, 0.8);
    padding: 1px 4px;
    border-radius: 5px;
    /*font-weight: bold;*/
}

.TitleJobMember {
    margin: 0;
    margin-top: 1px;
    margin-right: 7px;
    font-size: 80%;
    color: #656565;
    font-family: Terafik;
}

.ShowProfileMember {
    position: absolute;
    bottom: 14px;
    left: 10px;
}


.ContainerInfoTeam {
    padding: 10px;
    margin-bottom: 50px;
}

.ContainerInfoTeam img {
    width: 40%;
    float: right;
    display: inline-block;
}

.ContentInfoTeam {
    display: inline-block;
    background: white;
    border-radius: 7px;
    box-shadow: 0 0 35px rgb(157 255 191 / 16%);
    padding: 20px;
    margin-top: 70px;
    width: 45%;
}

.ContentInfoTeam p {
    margin: 0;
    font-size: 105%;
    line-height: 35px;
    text-align: right;
    color: #666666;
}


.ContainerInvitation {
    margin: 30px auto;
    text-align: right;
    width: 60%;
    padding: 25px;
    border-radius: 10px;
    direction: rtl;
    background: #ffffff;
    box-shadow: 0 0 30px rgba(157, 255, 191, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.ContainerInvitation p {
    display: inline-block;
    margin: 0;
    font-size: 115%;
    border-right: 4px solid var(--ColorBase);
    padding-right: 10px;
    color: #666666;
}


.ContainerContactUs {
    width: 70%;
    background: #ffffff;
    padding: 10px;
    margin: 10px auto;
    margin-top: 30px;
    text-align: right;
    perspective: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 35px rgb(157 255 191 / 13%)
}

.ContainerContactUs img {
    margin: 40px;
    width: 300px;
    height: 300px;
    border-radius: 10%;
}


.ContainerItemsContactUs {
    width: 75%;
    margin-top: 20px;
}

.TextContactUs {
    padding: 5px;
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
    text-align: justify;
    direction: rtl;
    line-height: 35px;
    color: #666666;
}

.ContainerItemsContact {
    text-align: center;
    padding: 10px;
    width: 100%;
}

.ItemContact {
    display: inline-block;
    margin: 3px;
    background: #ffffff;
    padding: 7px 15px;
    font-size: 180%;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    cursor: pointer;
}

.ItemContact[Instagram] {
    color: #ff4f48;
}

.ItemContact[Telegram] {
    color: #104aff;
}

.ItemContact[Email] {
    color: #ff1015;
}

.ItemContact[Phone] {
    color: #3c3c3c;
}

.Sliders {
    height: 470px;
}

.Slider {
    background: none;
    border: none;
}

.Img-Shape-Design {
    width: auto !important;
}


/* Responsive */

@media screen and (max-width: 1440px) {
    .ContentMembers {
        width: 69%;
        margin: 0;
        padding: 0;
        border-radius: 20% 80% 20% 20%;
    }
}

@media screen and (max-width: 1360px) {

    .ContainerWorkSamples {
        display: block;
    }

    .ImageBackgroundLastProjects {
        display: block !important;
        width: 50% !important;
    }

    #SliderWorkSamples {
        width: 100%;
        margin: 20px 0;
        margin-top: -10px;
    }

    .ContainerInvitation {
        width: 75%;
    }

    .ContainerContactUs {
        display: block;
    }

    .ContainerContactUs img {
        width: 80%;
        display: block;
        transform: rotateY(12deg) rotateX(-8deg);
        margin: initial;
        float: left;
    }

    .TextContactUs {
        width: 90%;
    }


}


@media screen and (max-width: 1001px) {

    .ContainerTitle div {
        padding: 7px 20px;
    }

    .ContainerTitle p {
        font-size: 130%;
    }

    .SectionHeader {
        position: relative;
    }

    .SectionHeader img {
        width: 100%;
        left: 0;
        top: 0;
        margin: 0 !important;
        float: none;
    }

    .ContentAboutUs {
        padding: 0;
        padding-bottom: 50px;
        margin: 0;
    }

    .TextAboutUs {
        margin: auto;
        padding: 10px;
        padding-bottom: 20px;
        width: 90%;
    }

    .SectionHeader .TitleGroup {
        padding: 5px;
        margin-right: 15px;
    }

    [SectionMainSubmitProject] {
    }

    [SectionMainSubmitProject] img {
        display: block;
        width: 100%;
        margin: auto;
        margin-bottom: 25px;
    }

    [SectionMainSubmitProject] .ContentSection {
        display: block;
        width: 80%;
        margin: 50px auto;
        padding: 5px;
    }

    .ItemService {
        width: 220px;
        height: 220px;
    }

    .ItemService i {
        font-size: 550%;
    }

    .ContentMembers {
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 10px;
        text-align: center;
    }

    .Members .ImageDesignMembers {
        width: 60%;
        margin-left: -6px;
        margin-bottom: 20px;
        float: left;
        transform: rotate(-90deg);
    }

    .Members {
        padding: 0 !important;
    }

    .Member {
        width: 260px;
        height: 270px;
        margin: 15px 0;
    }

    .ImageMember {
        height: 170px;
    }

    .NameMember {
        transform: translateY(-6px);
    }

    .TitleJobMember {
        margin-top: -5px;
    }

    .ContainerInvitation {
        width: 88%;
    }

    .ContainerInvitation p {
        font-size: 100%;
    }

    .ContainerInfoTeam {
        direction: rtl;
    }

    .ContainerInfoTeam img {
        width: 70%;
    }

    .ContentInfoTeam {
        width: 90%;
        transform: translateY(-25px);
    }

    .ContentInfoTeam p {
        text-align: justify;
        font-size: 105%;
    }

}

@media screen and (max-width: 740px) {
    .ImageBackgroundLastProjects {
        width: 60% !important;
    }


    .ContainerInvitation {
        width: 95%;
        font-size: 95%;
        display: block;
    }

    .ContainerInvitation a {
        display: block;
        margin: auto;
        margin-top: 30px;
        text-align: center;
        width: 80%;
    }

    .ContainerContactUs {
        width: 95%;
    }


    .ContainerItemsContactUs {
        margin-top: 50px;
    }

}

@media screen and (max-width: 570px) {

    .SectionHeader .TitleGroup {
        fonst-size: 140% !important;
    }

    .BackgroundHeader {
        padding-top: 20px;
        width: 100%;
    }


    .ContentSection {
        font-size: 90%;
    }


    .ImageBackgroundLastProjects {
        width: 95% !important;
    }

    .WorkSample {
        width: 95%;
    }


    .ImageDesignMembers {
        width: 95% !important;
    }

    .ContainerInvitation {
        text-align: left;
        font-size: 95%;
    }

    .ContainerInvitation p {
        display: block;
        text-align: right;
    }

    .ContainerInvitation button {
        float: none;
        margin: 0;
        margin-top: 15px;
    }

    .ContainerInfoTeam img {
        width: 90%;
    }


    .ContainerContactUs {
        width: 100%;
    }


    .ContainerItemsContactUs {
        width: 100%;
    }

    .ItemContact {
        font-size: 145%;
    }


    .ContentFooter {
        margin-top: 40px;
        position: static;
        font-size: 95%;
    }

    .ItemService {
        width: 210px;
        height: 210px;
    }

    .ItemService i {
        font-size: 500%;
    }

    .ItemService p {
        margin: 0;
        font-size: 120%;
        color: #555555;
    }
}