
body {
    text-align: right;
}

main {
    min-height: 80vh;
    width: 85%;
    margin: 20px auto;
    margin-left: 11%;
}

.Header {
    border: 1px solid #EEEEEE;
}

.Header .ItemsHeader {
    text-align: right !important;
}

.HeaderFixed {
    box-shadow: none !important;
}

.Breadcrumb {
    margin-top: 10px;
}

.ItemAccount {
    display: none !important;
}

.AnimationTopToBottom {
    animation: AnimationTopToBottom .4s forwards;
}

@keyframes AnimationTopToBottom {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

.ContainerAsideMenu {
    position: fixed;
    left: 0;
    top: 60px;
    width: 4%;
    min-width: 65px;
    max-width: 120px;
    height: calc(100% - 60px);
    text-align: center;
    background: #ffffff;
    padding: 8px;
    z-index: 10 !important;
    transition: all .3s ease-in-out;
}

.ContainerAsideMenu:hover {
    width: 120px;
    box-shadow: 8px 5px 12px rgba(224, 243, 225, 0.2);
}

.ItemAsideMenu {
    position: relative;
    overflow: hidden;
    padding: 5px;
    color: #8a8a8a;
    cursor: pointer;
    margin: 10px 5px;
}


.ItemAsideMenu:hover {
    color: black;
}

.ItemAsideMenu:hover p {
    right: 0;
    margin-right: 5px;
}

.ItemAsideMenu:hover i {
    padding-right: 55px;
}

.ItemAsideMenu p {
    display: inline-block;
    font-size: 80%;
    position: absolute;
    right: -150%;
    top: 22%;
    transition: all .2s ease-in-out;
}

.ItemAsideMenu i {
    font-size: 150%;
    margin-left: 5px;
    transition: all .3s ease-in-out;
    vertical-align: middle;
}

.ItemAsideMenuActive {
    color: #17c3b2 !important;
}

.ItemSignOutAccount {
    position: absolute;
    bottom: 0;
    left: 18%;
    width: 50%;
}

.ItemSignOutAccount:hover {
    width: 100%;
    left: 0;
}

.ItemSignOutAccount:hover p {
    margin-right: 30px;
}

.ItemHome {
    position: absolute;
    bottom: 45px;
    left: 18%;
    width: 50%;
}

.ItemHome:hover {
    width: 100%;
    left: 0;
}

.ItemHome:hover p {
    margin-right: 30px;
}

.ContainerItemAsideMenu {
    display: none;
    width: 100%;
    padding: 10px;
    background: #fbfbfb;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
}

.ContainerItemMenuIsActive {
    display: block;
}

.ContainerTitle {
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
}

.ContainerTitle p {
    font-weight: bold;
    font-family: 'Yekan';
    margin: 0;
    font-size: 150%;
    display: inline-block;
    vertical-align: middle;
    color: #333333;
}

.ContainerTitle i {
    margin: 7px;
    color: #555555;
    vertical-align: top;
    font-size: 110%;
}

.ColorBlue {
    color: #92e6ee !important;
}

.ColorGreen {
    color: var(--ColorBase) !important;
}

.ColorYellow {
    color: #ffea57 !important;
}

.ColorOrange {
    color: #ffa646 !important;;
}

.ColorPaper {
    color: #d473db !important;
}

.ColorRed {
    color: #ff5b5f !important;
}

#ContainerFormInfo {
    padding: 20px 10px;
}

.ContainerRightFormInfo {
    width: 60%;
    display: inline-block;
}

.ContainerLeftFormInfo {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 35%;
}

.ContainerItemForm {
    display: inline-block;
    margin: 7px;
    text-align: right;
}

.ContainerItemForm {
    width: 60%;
}

.ContainerItemForm .ContainerInputIcon input {
    width: 100%;
}

.ContainerItemForm .ContainerInputIcon textarea {
    width: 100%;
}


.ContainerItemFormImage {
    margin: auto;
}

.ContainerItemFormImage a {
    font-size: 70%;
}


.ContainerInputIcon input, textarea {
    outline: none;
    border: 1px solid #eeeeee;
    padding: 6px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(192, 255, 215, 0.4);
    background: #fafafa;
    transition: all .15s;
    width: 300px;
    vertical-align: middle;
}

.ContainerInputIcon textarea {
    width: auto;
    resize: none;
}

.LabelInput {
    margin: 4px;
    font-size: 92%;
    color: var(--ColorTitle);
}

.ContainerInputIcon input:focus {
    background: #ffffff;
}

input[valid='false'] {
    border: 1px solid #ff6f58;
}

textarea[valid='false'] {
    border: 1px solid #ff6f58;
}

input::placeholder {
    font-size: 90%;
    color: #a5a5a5;
}

img[src=""] {
    display: none;
}

#ImageFormInfo {
    margin-top: 40px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.ContainerButtonSubmitFormInfo {
    text-align: left;
    margin-top: 20px;
}

.ContainerButtonSubmitFormInfo button {
    border: none;
    outline: none;
    padding: 7px 35px;
    border-radius: 5px;
    color: white;
    transition: all .2s;
    background: #bdbdbd;
}

.ButtonSubmitActive:hover {
    box-shadow: 0 5px 5px #ababab;
    padding: 7px 36px;
}

.ButtonSubmitActive:active {
    transform: scale(.96);
}

.ButtonSubmitActive {
    box-shadow: 0 5px 5px #bbbbbb !important;
    background: rgb(20, 194, 128) !important;
}


.ContainerSkills {
    margin: 10px;
    margin-top: 20px;
}

#ButtonAddSkill {
    border: none;
    outline: none;
    border-radius: 8px;
    border: 1px solid #3ed7c0;
    color: #3ed7c0;
    background: none;
    padding: 8px 18px;
    transition: background-color .1s;
}

#ButtonAddSkill i {
    vertical-align: middle;
    transition: transform .1s;
}

#ButtonAddSkill:hover {
    background: #3ed7c0;
    color: #fff;
}

#ButtonAddSkill:active i {
    transform: rotate(90deg);
}

.ProgressSkill {
    border-radius: 7px;
    width: 70%;
    height: 28px;
    margin-top: 10px;
}

.ProgressSkill::-webkit-progress-bar {
    background: #eeeeee;
    border-radius: 7px;
    border: 1px solid #c3c3c3;
}

.ProgressSkill::-webkit-progress-value {
    border-radius: 7px;
    background: #cccccc;
}

.ProgressSkillGood::-webkit-progress-value {
    background: #1cad69;
}

.ProgressSkillAverage::-webkit-progress-value {
    background: #7ed8c1;
}

.ProgressSkillLow::-webkit-progress-value {
    background: #fd9a9a;
}

.ProgressSkillVeryLow::-webkit-progress-value {
    background: #fd4744;
}


.Skills {
    margin-top: 20px;
    padding: 25px 0;
    text-align: center;
}

.Skill {
    border-radius: 5px;
    margin: 10px;
    /*padding: 7px;*/
    background: #fafafa;
    text-align: center;
    border: 1px solid #dddddd;
    display: inline-block;
    vertical-align: middle;
    width: 320px;
    height: 327px;
    /*   box-shadow: 0 3px 2px #e5e5e5;*/
}

.ContainerEditDeleteSkill {
    text-align: left;
    padding: 7px;
}


.BtnRemoveSkill {
    border-radius: 5px;
    width: 80px;
    padding: 3px;
    background: none;
    border: 1px solid #ff6f60;
    color: #ff6f60;
    outline: none;
    display: inline-block;
    transition: all .15s;
}

.BtnRemoveSkill:hover {
    background: #ff6f60;
    color: #fff;
}

.BtnRemoveSkill:focus {
    background: #ff6f60;
    color: #fff;
}

.ContainerEditDeleteSkill p {
    display: inline-block;
    margin: 0;
}


.TitleSkill {
    margin-bottom: 20px !important;
    background: #ffffff;
    color: #666666;
    text-align: center;
    font-size: 120%;
    border-radius: 5px 5px 0 0;
    margin: 1px;

}

.TitleSkill p {
    margin: 0;
    display: inline-block;
}


.ContainerChartSkill {
    display: block;
    position: relative;
}

[ChartSkill] {
    width: 320px !important;
    height: 150px !important;
}

.PercentageValueSkill {
    position: absolute;
    top: 43%;
    width: 100%;
    left: 1%;
    color: #777777;
    font-weight: bold;
}

.ContainerAddSkillBlur {
    width: 40%;
    right: 30%;
}

.ContainerDescriptionSkill {
    text-align: right;
    width: 100%;
    margin-top: 4px;
    height: 75px;
    padding: 3px 7px;
    overflow: auto;
}

.ContainerDescriptionSkill::-webkit-scrollbar {
    width: 3px;
}

.ContainerDescriptionSkill p {
    font-size: 90%;
    margin: 0;
    color: #656565;
}

.ContainerFormSkill .LabelInput {
    text-align: right;
}

.ContainerFormSkill .ContainerItemForm {
    display: block;
    text-align: center;
    width: 97.5%;
}

.ContainerItemForm [ValueSkillInput] {
    margin-top: -7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.ContainerFormSkill [InputRangeSkill] {
    width: 88%;
}

.ContainerFormSkill input {
    width: 90%;
}

.ContainerFormSkill textarea {
    width: 90%;
}

.ContainerButtonAddSkill {
    text-align: left;
    margin-top: 40px;
}

.ValueRangeSkill {
    direction: rtl;
    display: inline-block;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 4px;
    vertical-align: top;
    margin: 0;
    margin-right: 3px;
    margin-top: 7px;
    /* Yellow Color */
    background: #ffea57;
    color: #333;
}

.ValueRangeSkill[Color=Green] {
    background: var(--ColorBase);
    color: #fff;
}

.ValueRangeSkill[Color=Blue] {
    background: #92e6ee;
    color: #fff;
}

.ValueRangeSkill[Color=Yellow] {
    background: #ffea57;
    color: #333;
}

.ValueRangeSkill[Color=Orange] {
    background: #ffa646;
    color: #fff;
}

.ValueRangeSkill[Color=Red] {
    background: #ff5b5f;
    color: #fff;
}

.ContainerButtonAddSkill [BtnCancelSkill] {
    border: none;
    outline: none;
    background: none;
    padding: 7px 10px;
    margin: 3px;
    margin-left: 10px;
}

.ContainerButtonAddSkill [BtnAddSkill] {
    border: none;
    outline: none;
    background: none;
    padding: 7px 25px;
    background: #c3c3c3;
    margin: 3px;
    border-radius: 10px;
}

.ContainerButtonAddSkill .BtnAddSkillActive {
    background: var(--ColorBase);
    color: white;
}

.ContainerButtonAddSkill .BtnAddSkillActive:hover {
    background: #298371;
}

.BtnStyleActive1 {
    background: var(--ColorBase) !important;
    color: white !important;
    transition: all .1s;
}

.BtnStyleActive1:hover {
    background: #298371 !important;
}

.ContainerAddWorkSampleBlur {
    width: 40%;
    right: 30%;
}

.ContainerEditWorkSampleBlur {
    width: 40%;
    right: 30%;
}

#ContainerFormWorkSample {
    text-align: center;
    margin: auto;
    padding: 20px;
}

#ContainerFormWorkSample .ContainerItemForm {
    width: 100%;
    overflow: hidden;
}

#ContainerFormWorkSample [LinkUrlImageFormEditWorkSample] {
    font-size: 75%;
}

#ContainerFormWorkSample .ContainerInputIcon input {
    padding: 9px;
}

#ContainerFormWorkSample .ContainerItemForm {
    display: block;
    width: 97.5%;
}

#ContainerFormWorkSample input {
    width: 100%;
}

#ContainerFormWorkSample textarea {
    width: 100%;
}

.ContainerButtonAddWorkSample {
    text-align: left;
    margin-top: 40px;
}

.ContainerButtonAddWorkSample [BtnAddWorkSample] {
    border: none;
    outline: none;
    background: none;
    padding: 7px 25px;
    background: #c3c3c3;
    color: #5a5a5a;
    margin: 3px;
    border-radius: 10px;
}

.ContainerButtonAddWorkSample [BtnEditWorkSample] {
    border: none;
    outline: none;
    background: none;
    padding: 7px 25px;
    background: #c3c3c3;
    color: #5a5a5a;
    margin: 3px;
    border-radius: 10px;
}

.ContainerButtonAddWorkSample [BtnCancelWorkSample] {
    border: none;
    outline: none;
    background: none;
    padding: 7px 10px;
    margin: 3px;
    margin-left: 10px;
}

.TitleContainer {
    border-bottom: 1px solid #3feeaf;
    color: #444444;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
    padding-bottom: 10px;
}

.TitleContainer p {
    margin: 0;
}

.ItemsHeader {
    text-align: left;
}



.ButtonIconDelete {
    background: #ffe4e3;
    border: 1px solid rgba(255, 172, 169, 0.5);
    padding: 1px 4px;
    border-radius: 150px;
    display: inline-block;
    font-size: 80%;
    cursor: pointer;
    margin: 5px;
    color: #ea4c4a;
}

.fa-times {
    font-size: 130%;
    color: #fa4b5a;
    cursor: pointer;
}

[Liked='true'] {
    color: #fa4b5a;
}

@media screen and (max-width: 1200px) {


    #ContainerMain {
        margin-left: 12%;
    }

    .ContainerAsideMenu {
        font-size: 90%;
        padding: 0;
        max-width: 100px;
    }

    .ContainerAsideMenu:hover {
        width: 100px;
    }

    .ContainerAddSkillBlur {
        width: 50%;
        right: 25%;
    }

    .ContainerAddWorkSampleBlur {
        width: 50%;
        right: 25%;
    }

    .ContainerEditWorkSampleBlur {
        width: 50%;
        right: 25%;
    }
}


@media screen and (max-width: 1000px) {

    #ContainerMain {
        width: 82%;
        margin-left: 15%;
    }

    .ContainerAsideMenu {
        font-size: 88%;
        padding: 0;
        max-width: 95px;
    }

    .ContainerAsideMenu:hover {
        width: 95px;
    }


    .ContainerAddSkillBlur {
        width: 55%;
        right: 22.5%;
    }

    .ContainerAddSkillBlur [inputrangeskill] {
        width: 80%;
    }

    .ContainerAddWorkSampleBlur {
        width: 60%;
        right: 20%;
    }

    .ContainerEditWorkSampleBlur {
        width: 70%;
        right: 15%;
    }
}

@media screen and (max-width: 750px) {
    #ContainerMain {
        width: 97%;
        margin: auto;
        margin-top: 80px;
        overflow: hidden;
    }

    .ContainerAsideMenu {
        top: 65px;
        width: 100%;
        height: auto;
        padding: 10px 10px;
        max-width: none;
        min-width: auto;
        direction: ltr;
        text-align: center;
        overflow-x: auto;
        white-space: nowrap;
        z-index: 1;
        box-shadow: 0 5px 10px rgba(206, 252, 244, 0.2);
    }

    .ContainerAsideMenu:hover {
        width: 100%;
    }


    .ContainerAsideMenu::-webkit-scrollbar {
        height: 2px;
    }


    .ItemAsideMenu {
        display: inline-block;
        position: static;
        width: auto;
        padding: 7px;
        margin: 2px 5px;
        margin-top: 7px;
    }

    .ItemAsideMenu:hover {
        width: auto;
    }

    .ItemAsideMenu:hover p {
        margin-right: 5px;
    }

    .ItemAsideMenu:hover i {
        padding: 0;
    }

    .ItemAsideMenu p {
        position: static;
        margin: 0;
    }

    .ItemAsideMenu p:hover {
        width: auto;
    }


    .ContainerRightFormInfo {
        display: block;
        width: 100%;
    }

    .ContainerItemForm {
        width: 95%;
    }

    .ContainerLeftFormInfo {
        display: block;
        width: 100%;
    }

    .ContainerLeftFormInfo .LabelInput {
        text-align: right;
    }

    .ContainerProgress .ProgressSkill {
        width: 100%;
        height: 20px;
    }

    .ContainerDescriptionSkill {
        font-size: 95%;
    }
}

@media screen and (max-width: 700px) {
    .ContainerAddSkillBlur {
        width: 70%;
        right: 15%;
    }

    .ContainerAddWorkSampleBlur {
        width: 70%;
        right: 15%;
    }

    .ContainerEditWorkSampleBlur {
        width: 75%;
        right: 12.5%;
    }
}

@media screen and (max-width: 500px) {


    .ItemAsideMenu p {
        margin: 0;
    }

    .ContainerAddSkillBlur {
        width: 85%;
        right: 7.5%;
    }

    .ContainerAddWorkSampleBlur {
        width: 85%;
        right: 7.5%;
    }

    .ContainerEditWorkSampleBlur {
        width: 90%;
        right: 5%;
    }
}

@media screen and (max-width: 400px) {
    .Skills {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .Skill {
        margin: 7px auto;
        width: 100%;
    }

    .Skill canvas {
        width: 100% !important;
    }
}

@media screen and (max-width: 360px) {


    .ItemAsideMenu {
        font-size: 90%;
    }

    .ItemAsideMenu p {
        margin: 0;
    }

    .ContainerProgress progress {
        height: 18px !important;
    }
}


