<div class="ContainerFooter">
    {#    <img src="/Static/Img/Img-Design/Img-Background/BackgroundShapes2.jpg" alt="Background Design" class="BackgroundDesignFooter">#}
    <div class="ContentFooter">
        <ul>
            <h4>دسترسی ها</h4>
            <li>
                <a href="/Gm">اعضای تیم</a>
            </li>
            <li>
                <a href="U/Profile">حساب کاربری</a>
            </li>
            <li>
                <a href="U/Profile">حساب کاربری تیم</a>
            </li>
            <li>
                <a href="/">خانه</a>
            </li>
        </ul>
        <ul>
            <h4>خدمات</h4>
            <li>
                <a href="/U/Profile?ProjectSubmit">ثبت پروژه</a>
            </li>
            <li>
                <a href="/M/Login-Create">ورود به تیم</a>
            </li>
            <li>
                <a href="/Ws">نمونه کارها</a>
            </li>
            <li>
                <a href="/#ContainerContactUs">تماس با ما</a>
            </li>
        </ul>
        <div>
            <h1 class="Codevar">کدوار</h1>
            <img src="/Static/Img/Img-Logo/Logo.jpg" alt="Logo" class="LogoFooter">
            <div class="ContainerItemsContact">
                <a class="ItemContact AnimationBottomToTop" instagram="" animationscroll="AnimationBottomToTop"
                   href="https://www.instagram.com/codevar.ir/">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="ItemContact AnimationTopToBottom" telegram="" animationscroll="AnimationTopToBottom"
                   href="https://t.me/Codevar">
                    <i class="fab fa-telegram-plane"></i>
                </a>
                <div class="ItemContact AnimationBottomToTop" email="" animationscroll="AnimationBottomToTop"
                     href="mailto:codevar.ir@gmail.com">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="ItemContact AnimationTopToBottom" phone="" animationscroll="AnimationTopToBottom"
                     href="tel:09399558747">
                    <i class="far fa-phone"></i>
                </div>
            </div>
        </div>
    </div>
    <p class="TextCopyRight">
        تمامی حقوق مادی و معنوی این سایت متعلق به مجموعه ی <span>کدوار</span> میباشد .
    </p>
</div>