
.ContainerShowWorkSample {
    direction: ltr;
    padding: 20px;
}

.ContainerImageSample {
    width: 30%;
    margin-right: 2%;
    display: inline-block;
    text-align: left;
    perspective: 1000px;
    vertical-align: top;
    background: none;
}

.ContainerImageSample img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: none;
}


.ContainerInfoSample {
    width: 65%;
    display: inline-block;
}

.ContainerItemInfoSample {
    direction: rtl;
}

.ContainerItemInfoSample p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.ContainerItemInfoSample[TitleSample] {
    margin: 35px 0;
    margin-top: 5px;
    color: var(--ColorBase);
}

.ContainerItemInfoSample[TitleSample] p {
    width: auto;
}

.ContainerItemInfoSample[TimePast] {
    direction: ltr;
    font-size: 85%;
    color: #646464;
    background: white;
    padding: 3px 8px;
    border-radius: 100px;
}

.ContainerItemInfoSample[TimePast] p {
    direction: rtl;
}

.ContainerItemInfoSample[TimePast] i {
    animation: AnimationRotateClock 7s infinite;
}

.ContainerItemInfoSample[Like] {
    direction: ltr;
    color: #646464;
    background: white;
    padding: 3px 10px;
    border-radius: 100px;
    font-size: 85%;
}

.ContainerItemInfoSample[Like] p {
    margin: 0;
}

.ContainerItemInfoSample[Like] i {
    font-size: 150%;
    cursor: pointer;
}

.ContainerItemInfoSample[Like] i:hover {
    color: #fa4b5a;
}


.ContainerItemInfoSample[Description] {
    padding: 15px;
    margin-top: 15px;
    background: #fafafa;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(173, 255, 213, 0.3);
}

.TitleLabelSample {
    font-size: 80%;
    color: #a9a9a9;
    width: 85px;
    text-align: right;
}

.TitleSample {
    font-size: 150%;
    font-weight: 600;
}

.ResultLabelSample {
    font-size: 103%;
}

.ContainerItemsInfoSample {
    padding: 15px;
    background: #fafafa;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(173, 255, 213, 0.3);
}

.ContainerItemsInfoSample .ContainerItemInfoSample {
    margin: 5px;
    padding: 7px;
}

.fa-times {
    font-size: 130%;
    color: #fa4b5a;
    cursor: pointer;
}


[Liked='true'] {
    color: #fa4b5a;
}

.LabelTitle {
    font-size: 90% !important;
    margin: 0;
    margin-right: 2px;
    color: #aaaaaa;
}


.ContainerWorkSamples {
    margin: 10px;
    margin-top: 20px;
}

#ButtonAddWorkSample {
    border: none;
    outline: none;
    border-radius: 8px;
    background: none;
    border: 1px solid #3ed7c0;
    color: #3ed7c0;
    padding: 8px 18px;
    transition: background-color .1s;
}

#ButtonAddWorkSample i {
    vertical-align: middle;
    transition: transform .1s;
}

#ButtonAddWorkSample:hover {
    background: #3ed7c0;
    color: #fff;
}

#ButtonAddWorkSample:active i {
    transform: rotate(90deg);
}

.Samples {
    padding: 25px 0;
    text-align: right !important;
}





.BtnLikeWorkSample {
    font-size: 160%;
    color: #ff4e5e;
    cursor: pointer;
}

.Sample .ItemsHeader {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #fff;
    border: 1px solid #dddddd;
    padding: 3px 10px;
    border-radius: 8px;
}

.Sample .ItemsHeader i {
    padding: 8px;
    font-size: 115%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.Sample .ItemsHeader i:hover {
    font-weight: bold;
}

.ItemsHeader .fa-trash {
    color: #ff626f;
    border-right: 1px solid #e2e2e2;
    padding-right: 30px!important;
}


.LabelTitle {
    font-size: 82%;
    margin: 0;
    margin-right: 2px;
    color: #999999;
}



.Sample {
    text-align: left;
    overflow: hidden;
    display: inline-block;
    width: 380px;
    height: 350px;
    margin: 10px;
    perspective: 1000px;
    direction: ltr;
    border-radius: 20px;
    position: relative;
    /*border: 1px solid rgba(0, 255, 140, 0.05);*/
    box-shadow: 0 0 25px rgba(74, 255, 163, 0.1);
    background: #ffffff;
}

.Sample img {
    width: 100%;
    height: 240px;
    border-radius: 20px 20px 0 0;
    display: inline-block;
    vertical-align: middle;
}

.ContentWorkSample {
    margin-bottom: -5px;
}


.ContentWorkSample p {
    margin: 0;
}


.TitleSample {
    text-align: right;
    direction: rtl;
    font-size: 105%;
    height: 37px;
    font-weight: bold;
    color: #565656;
    padding: 5px;
}

.ItemLikeTimeSample {
    text-align: left;
    float: left;
    display: inline-block;
}

.TimePastSample {
    font-size: 85%;
    color: rgb(122, 122, 122);
    background: white;
    padding: 3px 7px;
    border-radius: 10px;
}

.TimePastSample p {
    direction: rtl;
    display: inline-block;
    margin: 0;
    font-size: 85%;
}

.TimePastSample i {
    font-size: 110%;
    animation: AnimationRotateClock 9s infinite;
}


.LikeWorkSample {
    text-align: center;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 70px;
    height: 46px;
    background: #ffffff;
    border: 1px solid rgba(145, 145, 145, 0.25);
    padding: 8px 4px;
    border-radius: 18px 6px 6px 6px;
    z-index: 1;
}

.LikeWorkSample p {
    font-size: 80%;
    padding-top: 5px;
    color: #888888;
    display: inline-block;
}

.BtnLikeWorkSample {
    font-size: 160%;
    color: #ff4e5e;
    cursor: pointer;
}



.Skills {
    margin-top: 20px;
    padding: 25px 0;
    text-align: center;
}

.Skill {
    border-radius: 5px;
    margin: 10px;
    /*padding: 7px;*/
    background: #fafafa;
    text-align: center;
    border: 1px solid #dddddd;
    display: inline-block;
    vertical-align: middle;
    width: 320px;
    height: 327px;
    /*   box-shadow: 0 3px 2px #e5e5e5;*/
}

.ContainerEditDeleteSkill {
    text-align: left;
    padding: 7px;
}


.BtnRemoveSkill {
    border-radius: 5px;
    width: 80px;
    padding: 3px;
    background: none;
    border: 1px solid #ff6f60;
    color: #ff6f60;
    outline: none;
    display: inline-block;
    transition: all .15s;
}

.BtnRemoveSkill:hover {
    background: #ff6f60;
    color: #fff;
}

.BtnRemoveSkill:focus {
    background: #ff6f60;
    color: #fff;
}

.ContainerEditDeleteSkill p {
    display: inline-block;
    margin: 0;
}


.TitleSkill {
    margin-bottom: 20px !important;
    background: #ffffff;
    color: #666666;
    text-align: center;
    font-size: 120%;
    border-radius: 5px 5px 0 0;
    margin: 1px;

}

.TitleSkill p {
    margin: 0;
    display: inline-block;
}


.ContainerChartSkill {
    display: block;
    position: relative;
}

[ChartSkill] {
    width: 320px !important;
    height: 150px !important;
}

.PercentageValueSkill {
    position: absolute;
    top: 43%;
    width: 100%;
    left: 1%;
    color: #777777;
    font-weight: bold;
}

.ContainerAddSkillBlur {
    width: 40%;
    right: 30%;
}

.ContainerDescriptionSkill {
    text-align: right;
    width: 100%;
    margin-top: 4px;
    height: 75px;
    padding: 3px 7px;
    overflow: auto;
}

.ContainerDescriptionSkill::-webkit-scrollbar {
    width: 3px;
}

.ContainerDescriptionSkill p {
    font-size: 90%;
    margin: 0;
    color: #656565;
}



@media screen and (max-width: 1500px) {
    .ContainerImageSample {
        display: block;
        text-align: center;
        width: 100%;
        margin: 80px auto 30px auto;
        vertical-align: bottom;
    }

    .ContainerImageSample img {
        height: 320px;
        width: 100%;
    }

    .ContainerItemInfoSample[TitleSample] {
        position: absolute;
        top: 20px;
        right: 1%;
        width: 98%;
        font-size: 92%;
    }

    .ContainerInfoSample {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {

    .ImageUserProfile {
        position: static !important;
        display: block;
        margin: auto;
        margin-bottom: 15px;
        width: 300px !important;
        height: 300px !important;
    }

    .LikeMemberProfile {
        left: 10px !important;
        top: 320px !important;
    }

    .InfoProfile {
        width: 100% !important;
    }


    .ContainerItemInfoSample[TitleSample] {
        position: absolute;
        top: 20px;
        right: 1%;
        width: 98%;
        font-size: 85%;
    }

    .ContainerImageSample {
        margin-top: 100px;
    }

    .ContainerImageSample img {
        height: 320px;
        width: 100%;
    }

    .ContainerItemInfoSample {
        font-size: 85%;
    }

    .Samples {
        text-align: center !important;
    }

    .Sample{
        margin: 15px auto;
    }


}

@media screen and (max-width: 440px) {
    .Samples {
        padding: 0;
    }

    .Sample {
        width: 95%;
    }
}
