body{
    background: #f2f2f2;
}

.ContainerAside {
    width: 100%;
    position: fixed;
    top: 64px;
    padding: 10px;
    background: white;
    text-align: center;
    overflow: hidden;
    overflow-x: auto;
    z-index: 1;
    white-space: nowrap;
}

.ContainerAside::-webkit-scrollbar{
    height: 4px;
}


.HeaderFixed{
    background: #fff!important;
    border-bottom: none!important;
    box-shadow: none!important;
}

.ItemAside {
    display: inline-block;
    padding: 8px;
    margin: 5px 7px;
    cursor: pointer;
    color: #777777;
    font-size: 90%;
    transition: all .15s;
}

.ItemAside:hover {
    color: #111111;
}

.ItemAsideActive {
    color: #18c475 !important;
}

.ItemAsideActive i {
    font-weight: bold;
}

.ItemAside p {
    display: inline-block;
    margin: 0;
    font-size: 90%;
}

.ItemAside i {
    font-size: 120%;
}

.IconCompleting:hover i {
    animation: fa-spin 2s infinite linear;
}


.ContainerTitle {
    text-align: right;
}

.ContainerTitle p {
    font-size: 115%;
    margin: 0;
    color: #888888;
    font-family: 'Yekan';
    display: inline-block;
    border-right: 3px solid #78c0c7;
    padding-right: 10px;
    font-weight: bold;
}

.ContainerMain {
    margin-top: 80px;
    width: 100%;
}

.ContainerBaseContent {
    width: 98%;
    background: #fff;
    border: 1px solid #eee;
    padding: 10px;
    margin: 120px auto;
    display: none;
    border-radius: 7px;
    min-height: 300px;
}

.ContainerNotFoundContent {
    font-size: 110%;
}

.ContainerContentIsShow {
    display: block;
    animation: AnimationTopToBottom .3s forwards;
}

.ContainerSubmitProject {
    width: 45%;
    display: inline-block;
    margin-top: 60px;
}

.ContainerDesignSubmitProject {
    background: none;
    width: 48%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.ContainerDesignSubmitProject h2 {
    text-align: right;
    margin-right: 60px;
    margin-top: 100px;
    font-family: 'MjCasablancaHeavy';
    color: rgb(55, 137, 199);
}

.ContainerDesignSubmitProject p {
    text-align: right;
    margin-right: 100px;
}

.ContainerDesignSubmitProject img {
    width: 75%;
}

.PriceForProject {
    width: 80%;
    margin: 5px auto;
    font-size: 75%;
    color: #666666;
}

.ContainerBtnSubmit {
    width: 80%;
    margin: 20px auto;
    text-align: left;
}

.ContainerProjectChecking {
    margin: 50px 0;
}

.Projects {
    text-align: center;
}

.Project {
    width: 450px;
    display: inline-block;
    background: white;
    margin: 7px;
    border-radius: 7px;
    vertical-align: top;
    border: 1px solid #eee;
    transition: all .2s;
}

.Project:hover {
    transform: translateY(-10px);
}

.Project p {
    margin: 0;
    display: inline-block;
}

.Project input {
    width: 95%;
    margin: auto;
}

.Project textarea {
    width: 95%;
    margin: auto;
}

.InfoProject {
    background: #f0f5f5;
    padding: 3px;
}

.InfoProject div {
    display: inline-block;
}

.InfoProject .Label {
    margin: 0;
}

.ContentProject {
    padding: 3px;
}

.TitleProject {
    padding: 5px;
    width: 70%;
    font-size: 95%;
    color: #333333;
}

.IconCancelProject {
    float: left;
    margin: 4px;
    color: #e06340;
    cursor: pointer;
}

.IconCancelProject:hover {
    font-weight: bold;
}

.TimeSubmit {
    font-size: 70%;
    display: inline-block;
    width: 48%;
    margin-top: 8px;
    margin-bottom: 4px;
    text-align: right;
}

.TimeSubmit div {
    display: inline-block;
    background: #fff5e1;
    border: 1px solid #ffd5b7;
    color: #995c47;
    padding: 6px;
    border-radius: 10px;
}

.StateProject {
    display: inline-block;
    width: 48%;
    text-align: left;
    font-size: 70%;
    padding: 0;
    color: #666666;
}

.StateProject div {
    margin-top: 8px;
    display: inline-block;
    padding: 6px;
    border-radius: 10px;
    background: #f9efff;
    border: 1px dashed #ffa0a5;
    color: #dc150c;
}

.StateProject .ResultField {
    font-weight: bold;
}

.Budget {
    display: inline-block;
    width: 48%;
    color: #5e8ff5;
    margin-right: 5px;
    text-align: right;
}

.SplitPriceNumber {
    font-weight: 600;
    direction: ltr;
}

.UnitPrice {
    font-size: 85%;
    font-weight: bold;
}

.DeadLine {
    display: inline-block;
    margin: 10px 0;
    width: 48%;
    text-align: left;
    font-size: 70%;
    vertical-align: top;
}

.DeadLine div {
    padding: 6px;
    background: #effffd;
    border: 1px solid #c5fff3;
    color: #32aba5;
    display: inline-block;
    border-radius: 10px;
}

.Technologies {
    text-align: right;
    margin: 5px;
}

.Description {
    text-align: right;
    margin: 5px;
}

.Description .Label {
    display: block;
}

.ContainerBuyProject {
    margin: 10px 10px;
    text-align: left;
}

.Information {
    margin: 30px 0;
}

.ContainerButtonFormInfo {
    text-align: left;
    margin: 15px 0;
    width: 90%;
}



.ContainerTitleAndSignOutMenu {
    display: flex;
    justify-content: space-between;
    padding: 15px 8px;
    background: #a588ff;
    box-shadow: 0 5px 12px rgba(165, 136, 255, 0.5);
    font-size: 95%;
    margin-bottom: 5px;
}

.ContainerTitleAndSignOutMenu i {
    color: #ffffff;
    cursor: pointer;
    font-size: 105%;
    margin: 0 3px;
    vertical-align: middle;
}

.ContainerTitleAndSignOutMenu i:hover {
    color: #000000;
}

.ContainerMainMenu {
    margin-top: 25px;
    margin-bottom: auto;
}

.ContainerFooterMenu {
    flex-grow: 1;
}

.ItemBtnMenu {
    display: flex;
    justify-content: space-between;
    padding: 15px 7px;
    cursor: pointer;
}

.ItemBtnMenu p {
    font-size: 87%;
    display: inline-block;
    margin: 0;
}

.ItemBtnMenu i {
    color: #5a5a5a;
}

.ItemBtnMenu:hover {
    background: #e8e8e8;
}

.ItemBtnMenu:hover i {
    color: #277de8;
}

.ContainerFooterMenu {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.ContainerItemsContactShowProject {
    text-align: center;
    padding: 10px;
    width: 100%;
}

.ContainerItemsContactShowProject .ItemContact i{
    display: inline-block;
    margin: 3px;
    background: #ffffff;
    padding:10px;
    font-size: 160%;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    cursor: pointer;
    box-shadow: none;
}


.ItemContact[Instagram] {
    color: #ff4f48;
}

.ItemContact[Telegram] {
    color: #104aff;
}

.ItemContact[Email] {
    color: #ff1015;
}

.ItemContact[Phone] {
    color: #3c3c3c;
}

.ContainerSubmitProjectAndDescription{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ContainerProjectDetail{
    text-align: center;
    padding: 0!important;
}

.ContainerContentBlur{
    width: 100%;
}

.ShowProject{
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 1100px) {

    .ContainerSubmitProjectAndDescription{
        flex-direction: column;
    }

    .ContainerDesignSubmitProject {
        display: block;
        width: 100%;
        order: -1;
    }

    .ContainerDesignSubmitProject img {
        width: 100%;
    }

    .ContainerDesignSubmitProject h2 {
        margin-right: 10px;
    }

    .ContainerDesignSubmitProject p {
        margin-right: 25px;
    }

    .ContainerSubmitProject {
        width: 100%;
    }

}

@media screen and (max-width: 800px) {

    /*.ItemSubmitProject {*/
    /*    margin: 0;*/
    /*    margin-left: 10px;*/
    /*    padding: 8px 10px;*/
    /*    border-radius: 7px;*/
    /*    border: 1px solid #eee;*/
    /*    color:#666!important;*/
    /*}*/

}

@media screen and (max-width: 450px) {
    .Project {
        width: 98%;
        font-size: 95%;
    }
}